<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>资讯文章采集器</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/material.icon.css}" />
    <link rel="stylesheet" th:href="@{/css/materialize.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"  />

    <style>
        ul li span {
            font-size: smaller;
        }
    </style>
</head>
<body>
<!-- Modal -->
<div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="testModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="testModalLabel">测试页面</h4>
    </div>
    <div class="modal-body">
        <p>标题：<span id="modal_title"></span></p>
        <p>日期：<span id="modal_date"></span> </p>
        <p>关键词：<span id="modal_keyword"></span></p>
        <p>内容：<span id="modal_content"></span></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
    </div>
</div><!-- modal -->
<!-- Modal for Exception -->
<div class="modal fade" id="modalExcept" tabindex="-1" role="dialog" aria-labelledby="modalExceptLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalExceptLabel">测试出错</h4>
    </div>
    <div class="modal-body">
        <p>异常：<span id="modal_message"></span></p>
        <p>堆栈：<span id="modal_stack"></span> </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
    </div>
</div><!-- modal for Exception -->
<div class="row" style="margin-top: 3%; margin-left: 3%;">
    <form class="col m6" method="post">
        <div class="row">
            <div class="input-field col m6">
                <input id="url" type="url" class="validate" />
                <label for="url">URL</label>
            </div>
            <div class="input-field col m2">
                <select id="topMenu" class="select">
                    <option value="" disabled="disabled" selected="selected">Category</option>
                    <option value="1">金融</option>
                    <option value="2">零售制造</option>
                    <option value="3">人工智能</option>
                    <option value="4">应用开发</option>
                    <option value="5">大数据</option>
                    <option value="6">云计算</option>
                    <option value="7">问答社区</option>
                </select>
                <label>Category</label>
            </div>
            <div class="input-field col m2">
                <select id="menuId" class="select">
                    <option value="" disabled="disabled" selected="selected">MenuId</option>
                    <option value="8">宏观资讯</option>
                    <option value="9">中资银行</option>
                    <option value="10">外资银行</option>
                    <option value="11">保险</option>
                    <option value="12">理财</option>
                    <option value="13">P2P</option>
                    <option value="14">网贷</option>
                    <option value="15">互联网金融</option>
                    <option value="40">基金</option>
                    <option value="42">股票</option>

                    <option value="16">行业资讯</option>
                    <option value="17">公关</option>
                    <option value="18">广告</option>
                    <option value="19">会展</option>
                    <option value="20">品牌营销</option>
                    <option value="41">民用</option>
                    <option value="43">工业用</option>
                    <option value="44">商用</option>

                    <option value="21">行业新闻</option>
                    <option value="22">技术动态</option>

                    <option value="23">开发者资讯</option>
                    <option value="24">技术文章</option>
                    <option value="25">开发者活动</option>

                    <option value="26">业界资讯</option>
                    <option value="27">开源技术</option>
                    <option value="28">应用案例</option>
                    <option value="29">技术方案</option>

                    <option value="30">云资讯</option>
                    <option value="31">云应用</option>
                    <option value="32">云技术</option>
                    <option value="33">云安全</option>

                    <option value="34">金融</option>
                    <option value="35">零售制造</option>
                    <option value="36">人工智能</option>
                    <option value="37">应用开发</option>
                    <option value="38">大数据</option>
                    <option value="39">云计算</option>
                </select>
                <label>MenuId</label>
            </div>

        </div>
        <div class="row col m12">
            <div class="input-field col m2">
                <input id="startIndex" type="number" class="validate" />
                <label for="startIndex">Start Index</label>
            </div>
            <div class="input-field col m2">
                <input id="endIndex" type="number" class="validate" />
                <label for="endIndex">End Index</label>
            </div>
            <div class="input-field col m3">
                <input id="extractArea" type="text" class="validate" />
                <label for="extractArea">Extract Area</label>
            </div>
            <div class="input-field col m3">
                <input id="linkPosition" type="text" class="validate" />
                <label for="linkPosition">Link Position</label>
            </div>
        </div>
        <div class="row col m12">
            <div class="input-field col m2">
                <input id="title" type="text" class="validate" />
                <label for="title">Title</label>
            </div>
            <div class="input-field col m2">
                <input id="title2" type="text" />
                <label for="title2">Title2</label>
            </div>
            <div class="input-field col m2">
                <input id="pubDate1" type="text" class="validate" />
                <label for="pubDate1">Pub Date 1</label>
            </div>
            <div class="input-field col m2">
                <input id="pubDate2" type="text" class="validate" />
                <label for="pubDate2">Pub Date 2</label>
            </div>
            <div class="input-field col m2">
                <input id="pubDate3" type="text" class="validate" />
                <label for="pubDate3">Pub Date 3</label>
            </div>
        </div>
        <div class="row col m10">
            <div class="input-field col m2">
                <input id="keyword" type="text" class="validate" />
                <label for="keyword">Keyword</label>
            </div>
            <div class="input-field col m2">
                <input id="content" type="text" class="validate" />
                <label for="content">Content</label>
            </div>
            <div class="input-field col m2">
                <input id="content2" type="text" />
                <label for="content2">Content2</label>
            </div>

            <div class="col m2">
                <p>
                    <input id="exFirst" type="checkbox" class="filled-in" />
                    <label for="exFirst">Ex.First</label>
                </p>
                <p>
                    <input id="exLast" type="checkbox" class="filled-in" />
                    <label for="exLast">Ex.Last</label>
                </p>
            </div>
            <div class="input-field col m2">
                <input id="excluded2" type="text" class="validate" />
                <label for="excluded2">Exclude 2</label>
            </div>
        </div>
        <div class="row col m12" style="text-align: right;">
            <div class="col m3" >
                <button id="submit" class="btn waves-effect waves-light" style="margin-left: 3%; margin-top: 2%;" type="submit">Run
                    <i class="material-icons right">send</i>
                </button>
            </div>
            <div class="col m3" >
                <button id="article_test" class="btn waves-effect waves-light" style="margin-left: 2%; margin-top: 2%;" type="button">Test
                    <i class="material-icons right">send</i>
                </button>
            </div>
            <div class="col m3" >
                <button id="save" class="btn waves-effect waves-light" style="margin-left: 2%; margin-top: 2%;" type="button">Save
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>

    <div class="col m6">
        <button id="show" class="btn btn-default" type="button">Show Progress</button>
        <p id="progress" class="col m5">当前进度：
            <span id="cur_count" style="margin-left: 1%; margin-right: 1%; color: darkcyan; font-size: large;"></span>
            <span id="total" style="margin-left: 1%; margin-right: 4%;"></span> 本次总量：
            <span id="all_sessions" style="margin-left: 1%; color: #03a9f4; font-size: large;"></span>
        </p>
        <p class="col m4">当前页面：
            <span id="cur_page" style="margin-left: 1%; margin-right: 1%; font-size: large; color: #aa00ff"></span> /
            <span id="total_page" style="margin-left: 1%; margin-right: 1%; font-size: large; color: #f06292;"></span>

        </p>
        <div class="progress progress-striped active" style="margin-top: 4%; width: 92%;">
            <div class="progress-bar progress-bar-success" role="progressbar"
                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            </div>
        </div>

        <div style="margin-top: 5%; width: 95%;">
            <div class="input-field col m8">
                <input id="check_url" type="url" class="validate" />
                <label for="check_url">Check URL</label>
            </div>
            <button id="check_button" class="btn waves-effect waves-light" style="margin-left: 2%; margin-top: 2%;" type="button" onclick="checkForm()">Check
                <i class="material-icons right">send</i>
            </button>
        </div>
        <div class="col m11" style="font-size: smaller;">
            <table id="conversation" class="table table-striped">
                <tbody id="result">
                </tbody>
            </table>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-2.1.1.min.js}"></script>
<script th:src="@{/js/materialize.min.js}"></script>
<!--<script th:src="@{/js/bootstrap.min.js}" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<script th:src="@{/js/jquery.md5.js}"></script>
<script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
<script th:src="@{/js/linked-dropdown.js}"></script>
<script th:src="@{/js/form-submission.js}"></script>
<script th:src="@{/js/collect-test.js}"></script>
<script th:src="@{/js/show-progress.js}"></script>
<script th:src="@{/js/elasticsearch.js}"></script>
<script>
    $(document).ready(function() {
        $('select.select').material_select();
        $("li>span").css("font-size", "1rem");
    });
</script>

</body>
</html>