<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>资讯文章采集器</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/material.icon.css}" />
    <link rel="stylesheet" th:href="@{/css/materialize.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"  />

</head>
<body>
<!-- Modal -->
<div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="testModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="testModalLabel">测试页面</h4>
    </div>
    <div class="modal-body">
        <p>标题：<span id="modal_title"></span></p>
        <p>日期：<span id="modal_date"></span> </p>
        <p>关键词：<span id="modal_keyword"></span></p>
        <p>内容：<span id="modal_content"></span></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
    </div>
</div><!-- modal -->
<div class="row" style="margin-top: 3%; margin-left: 3%;">
    <form class="col m6" th:action="@{/article}" th:object="${articleForm}" method="post">
        <div class="row">
            <div class="input-field col m7">
                <input th:field="*{url}" id="url" type="url" class="validate" />
                <label for="url">URL</label>
            </div>
            <div class="input-field col m3">
                <input th:field="*{menuId}" id="menuId" type="number" class="validate" />
                <label for="menuId">MenuId</label>
            </div>
        </div>
        <div class="row col m12">
            <div class="input-field col m2">
                <input th:field="*{startIndex}" id="startIndex" type="number" class="validate" th:errorclass="invalid" />
                <label for="startIndex">Start Index</label>
                <div th:if="${#fields.hasErrors('startIndex')}" th:errors="*{startIndex}" class="red-text">Error</div>
            </div>
            <div class="input-field col m2">
                <input th:field="*{endIndex}" id="endIndex" type="number" class="validate" th:errorclass="invalid" />
                <label for="endIndex">End Index</label>
                <div th:if="${#fields.hasErrors('endIndex')}" th:errors="*{endIndex}" class="red-text">Error</div>
            </div>
            <div class="input-field col m3">
                <input th:field="*{extractArea}" id="extractArea" type="text" class="validate" th:errorclass="invalid" />
                <label for="extractArea">Extract Area</label>
                <div th:if="${#fields.hasErrors('extractArea')}" th:errors="*{extractArea}" class="red-text">Error</div>
            </div>
            <div class="input-field col m3">
                <input th:field="*{linkPosition}" id="linkPosition" type="text" class="validate" th:errorclass="invalid" />
                <label for="linkPosition">Link Position</label>
                <div th:if="${#fields.hasErrors('linkPosition')}" th:errors="*{linkPosition}" class="red-text">Error</div>
            </div>
        </div>
        <div class="row col m12">
            <div class="input-field col m2">
                <input th:field="*{title}" id="title" type="text" class="validate" />
                <label for="title">Title</label>
            </div>
            <div class="input-field col m2">
                <input th:field="*{title2}" id="title2" type="text" />
                <label for="title2">Title2</label>
            </div>
            <div class="input-field col m2">
                <input th:field="*{pubDate1}" id="pubDate1" type="text" class="validate" />
                <label for="pubDate1">Pub Date 1</label>
            </div>
            <div class="input-field col m2">
                <input th:field="*{pubDate2}" id="pubDate2" type="text" class="validate" />
                <label for="pubDate2">Pub Date 2</label>
            </div>
            <div class="input-field col m2">
                <input th:field="*{pubDate3}" id="pubDate3" type="text" class="validate" />
                <label for="pubDate3">Pub Date 3</label>
            </div>
        </div>
        <div class="row col m10">
            <div class="input-field col m2">
                <input th:field="*{keyword}" id="keyword" type="text" class="validate" />
                <label for="keyword">Keyword</label>
            </div>
            <div class="input-field col m2">
                <input th:field="*{content}" id="content" type="text" class="validate" />
                <label for="content">Content</label>
            </div>
            <div class="input-field col m2">
                <input th:field="*{content2}" id="content2" type="text" />
                <label for="content2">Content2</label>
            </div>

            <div class="input-field col m2">
                <p>
                    <input id="exFirst" th:field="*{exFirst}" type="checkbox" /><label for="exFirst">Ex.First</label>
                </p>
                <p>
                    <input id="exLast" th:field="*{exLast}" type="checkbox" /><label for="exLast">Ex.Last</label>
                </p>
            </div>
            <div class="input-field col m2">
                <input th:field="*{excluded2}" id="excluded2" type="text" class="validate" />
                <label for="excluded2">Exclude 2</label>
            </div>
        </div>
        <div class="row col m12" style="text-align: right;">
            <div class="col m3" >
                <button id="submit" class="btn waves-effect waves-light" style="margin-left: 3%; margin-top: 2%;" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
            <div class="col m3" >
                <button id="article_test" class="btn waves-effect waves-light" style="margin-left: 2%; margin-top: 2%;" type="button">Test
                    <i class="material-icons right">send</i>
                </button>
            </div>
            <div class="col m3" >
                <button id="save" class="btn waves-effect waves-light" style="margin-left: 2%; margin-top: 2%;" type="button">Save
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>

    <div class="col m6">
        <button id="show" class="btn btn-default" type="button">Show Progress</button>
        <p id="progress" class="col m4">当前进度：
            <span id="cur_count" style="margin-left: 1%; margin-right: 1%; color: darkcyan; font-size: large;"></span> /
            <span id="total" style="margin-left: 1%; margin-right: 4%;"></span> 本次总量：
            <span id="all_sessions" style="margin-left: 1%; color: #03a9f4; font-size: large;"></span>
        </p>
        <p class="col m4">当前页面：
            <span id="cur_page" style="margin-left: 1%; margin-right: 1%; font-size: large; color: #aa00ff"></span> /
            <span id="total_page" style="margin-left: 1%; margin-right: 1%; font-size: large; color: #f06292;"></span>

        </p>
        <div class="progress progress-striped active" style="margin-top: 4%; width: 92%;">
            <div class="progress-bar progress-bar-success" role="progressbar"
                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            </div>
        </div>
        <div style="margin-top: 5%; width: 95%;">
            <div class="input-field col m8">
                <input id="check_url" type="url" class="validate" />
                <label for="check_url">Check URL</label>
            </div>
            <button id="check_button" class="btn waves-effect waves-light" style="margin-left: 2%; margin-top: 2%;" type="button" onclick="checkForm()">Check
                <i class="material-icons right">send</i>
            </button>
        </div>
        <div class="col m11" style="font-size: smaller;">
            <table id="conversation" class="table table-striped">
                <tbody id="result">
                </tbody>
            </table>
        </div>
    </div>
</div>


<script th:src="@{/js/jquery-2.1.1.min.js}"></script>
<script th:src="@{/js/materialize.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/jquery.md5.js}"></script>
<script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
<script th:src="@{/js/collect-test.js}"></script>
<script th:src="@{/js/show-progress.js}"></script>
<script th:src="@{/js/elasticsearch.js}"></script>

<script>
    $(function() {
        $('select').material_select();
    });
</script>
</body>
</html>