<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/material.icon.css}" />
    <link rel="stylesheet" th:href="@{/css/materialize.css}" />


</head>
<body>

<div class="row" style="margin-top: 5%; margin-left: 3%;">
    <form class="col m6" action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
        <div class="row">
            <div class="input-field col m2">
                <input id="start_page" type="number" class="validate" />
                <label for="start_page">Start Page</label>
            </div>
            <div class="input-field col m2">
                <input id="end_page" type="number" class="validate" />
                <label for="end_page">End Page</label>
            </div>
            <div class="input-field col m2">
                <input id="page_offset" type="number" class="validate" />
                <label for="page_offset">Page Offset</label>
            </div>

            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
            <div class="fixed-action-btn col m2">
                <a class="btn-floating waves-effect waves-light red">
                    <i class="material-icons">add</i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="input-field col m8">
                <input id="password" type="url" class="validate" />
                <label for="password">URL</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col m8">
                <input id="email" type="email" class="validate" />
                <label for="email">Email</label>
            </div>
        </div>
    </form>
</div>


<script th:src="@{/js/jquery-2.1.1.min.js}"></script>
<script th:src="@{/js/materialize.min.js}"></script>
</body>
</html>