<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/material.icon.css}" />
    <link rel="stylesheet" th:href="@{/css/materialize.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"  />


</head>
<body>

<div class="row" style="margin-top: 5%; margin-left: 3%;">
    <button class="btn waves-effect waves-light" style="margin-left: 2%; margin-top: 2%;" type="button" name="action">Submit
        <i class="material-icons right">send</i>
    </button>
</div>


<script th:src="@{/js/jquery-2.1.1.min.js}"></script>
<script th:src="@{/js/materialize.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script>
    $(document).ready(function() {
        $('select.select').material_select();
        $("li>span").css("font-size", "1rem");
    });
</script>
</body>
</html>